.index-u-p-m-c {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.index-home-page {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.index-rectangle7 {
  top: 92px;
  left: 0px;
  width: 1440px;
  height: 117px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.index-text {
  top: 165px;
  left: 780px;
  color: rgba(171, 138, 163, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text02 {
  top: 165px;
  left: 970px;
  color: rgba(171, 138, 163, 1);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame2 {
  top: 150px;
  left: 84px;
  width: 163px;
  height: 89px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.index-text04 {
  color: rgba(117, 28, 98, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 85px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text05 {
  color: rgba(117, 28, 98, 1);
}
.index-text11 {
  top: 165px;
  left: 540px;
  color: rgba(171, 138, 163, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text13 {
  top: 290px;
  left: 206px;
  color: rgba(117, 28, 98, 1);
  width: 737px;
  height: auto;
  position: absolute;
  font-size: 76px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-dayone {
  top: 295px;
  left: 960px;
  width: 41px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.index-component2 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.index-maskgroup {
  top: 9px;
  left: 0px;
  width: 41px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-frame1 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 76px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 1);
}
.index-text15 {
  top: -12px;
  left: -2.2162160873413086px;
  color: rgba(117, 28, 98, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 76px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-line1 {
  top: 0px;
  left: 41px;
  width: 88px;
  height: 0px;
  position: absolute;
}
.index-frame9 {
  top: 477px;
  left: 110px;
  width: 698px;
  height: 314px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.index-frame8 {
  top: 0px;
  left: 0px;
  width: 886px;
  height: 314px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.index-vector6 {
  top: 494.8846740722656px;
  left: 471.83197021484375px;
  width: 23px;
  height: 58px;
  position: absolute;
}
.index-rectangle3 {
  top: -3px;
  left: 94px;
  width: 611px;
  height: 317px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.6000000238418579px;
  border-radius: 62px;
}
.index-storytogowiththevideo {
  top: -15px;
  left: 696.730224609375px;
  width: 356.26971435546875px;
  height: 328.61407470703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-text17 {
  top: -3px;
  left: 745px;
  color: rgba(0, 0, 0, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text38 {
  top: 165px;
  left: 1229px;
  color: rgba(171, 138, 163, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
